<!DOCTYPE html>
<html lang='en'>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Authenticate via one of the social networks to get started.</p>
</div>
</html>