<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap Starter</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
    /*CUSTOM CODE HERE*/
    </style>

</head>

<body>

    <div class ="account">
        
    </div>
    <div class="container">
        <div class="text-center">
            <h1>Meetr<a</h1>
                <p class="lead"><i>Your meetings when you want it</i></p>
            <br>
            <p style="font-size:75%;", align = "left">
                Todays Meetings
            </p>
            <ul style = "list-style-type:none">
                <br>
                <li><p style = "font-size: 50%;", align = "left">Meeting 1</li>
                <li><p style = "font-size: 50%;", align = "left">Meeting 2</li>
                <li><p style = "font-size: 50%;", align = "left">Meeting 3</li>
                <li><p style = "font-size: 50%;", align = "left">Meeting 4</li>
            </ul>
                <br>
            <p style="font-size:75%;", align = "left"> Tomorrow's Meetings</p>
            <br>
            <p style="font-size:75%;", align = "left"> Weekly Overview</p>
        </div>
    </div>

    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>