<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap Starter</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style href="app/assets/stylesheets/simple.css">
    /*CUSTOM CODE HERE*/
    </style>

</head>

<body>
    <div class="meetrmain">
    <h1>MEETR</h1>
    <p>Create Your Meetings Anytime or Anywhere</p>
    <%= link_to 'Twitter', '/auth/twitter', class: 'button-box' %>
    <img src="/assets/meetrlogo.png" width="50%" style= opacity:.5;">
    </div>


    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>